<br>
<img src="https://fontmeme.com/permalink/210201/4dfd13d0048b330e09a1f7074431d10a.png" alt="pokemon-font" id="allPokemon">
<br>
<div class="container-md">
  <div class="row">
      {{#each pokemons }}
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{{this.sprite}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Name: {{this.name}}</h5>
              <p class="card-text">Type: {{this.typeOne}} / {{this.typeTwo}}</p>
              <p class="card-text">Level: {{this.level}}</p>
              <a href="#" class="btn btn-primary delete-pkmn">Remove</a>
            </div>
          </div>
        </div>
      {{/each}}
  </div>
</div>
<form action="/all-pokemon" method="GET">
</form>